.sideNav {
  flex: 1;
  border-right: 1px solid #e4dccf;
  min-height: 100vh;
  background-color: #ffffff;

  .logo {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e4dccf;
    color: #cd9a28;
  }

  .body {
    padding: 10px;
    border-bottom: 1px solid #e4dccf;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        padding: 8px;
        cursor: pointer;
        transition: all 0.3s ease;

        span {
          color: #0c0c0c;
          font-size: 0.85rem;
        }

        &:hover {
          background-color: #ffffe7;
          border-left: 2px solid #cd9a28;
        }

        .icons {
          margin-right: 12px;
          color: #cd9a28;
        }
      }
    }
  }

  .mode {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .modeSwitch {
      font-size: 40px;
      color: #cd9a28;
    }

    .light,
    .dark {
      font-size: 28px;
      color: #cd9a28;
      cursor: pointer;
    }
  }
}
